@font-face {
  font-family: Avenir;
  src: url(../../fonts/avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../../fonts/avenir/AvenirLTStd-Black.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  display: none;
}

$font-base: Avenir;
$font-heading: AvenirBlack;

.app__libary_menu {
  position: absolute;
  right: 5%;
  top: 7.5%;
  z-index: 2;

  svg {
    background-color: white;
    cursor: pointer;
  }
}
.app__libary_open {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: $font-heading;
  font-weight: normal;
  font-size: 1.15rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #0e0e0e;
}
.app__libary_close {
  margin: 1rem 0;
  margin-right: 1rem;
  margin-left: auto;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: 10;
    background-color: white;
  }
}

.cursor_none{
  cursor: auto;
}

.app__libary {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: white;
  transition: all ease 0.25s;
  overflow-y: scroll;
  box-sizing: content-box;
 

  .active {
    background-color: #0e0e0e;
    color: white;
  }

  .app__song {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
    position: relative;
    width: 100%;
    padding: 0 1rem 0 0;
    
    @media screen and (max-width: 650px) {
      font-size: .75rem;
    }

    &:hover {
      background: black;
    }

    &:hover h2 {
      color: white;
    }

    .app__song-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 0 0 2rem;
      flex: 1;

      h2 {
        font-weight: normal;

        font-family: $font-heading;
      }

      p {
        font-family: $font-base;
        color: #aaa;
      }
    }
  }

  img {
    width: 200px;
    transition: 0.5s ease-in-out;

    @media screen and (max-width: 300px) {
      width: 100px;
      height: 60px;
      object-fit: cover;
    }

    @media screen and (max-width: 250px) {
      width: 90px;
      height: 60px;
      object-fit: cover;
    }
  }
}

.app__libary__hide {
  display: none;
}

.app__libary__show {
  transform: translateX(0%);
}
