* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}


.section__padding {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }
}

.app__player_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__player_title {
  font-family: Avenir;
  text-align: center;
  margin: 3rem 0;
  font-size: 5rem;
  font-weight: 400;
  color: white;

  @media screen and (max-width: 650px) {
    font-size: 2.25rem;
  }

}

* {
  user-select: none;
}

.app__player_buttons {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  

  button {
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    font-family: AvenirBlack;
    font-weight: normal;
    font-size: 1.15rem;
    cursor: pointer;
    padding: 0.75rem 1rem;

    svg {
      font-size: 2rem;
    }
  }
}

.app__player-dash {
  height: 1px;
  width: 100px;
  background-color: white;
  display: block;
}

.app__player-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.app_player-dot {
  height: 5px;
  width: 5px;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: white;
  display: block;
}
